<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>

    </ion-title>
    <ion-item lines="none">
      <ion-toggle aria-label="Warning toggle" color="warning" [checked]="false" (ionChange)="toggleTheme($event)">Modo oscuro:</ion-toggle>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="contenedor">
    <ion-content>
      <h2>Iniciar Sesión</h2>
      
      <ion-item>
        <ion-label position="floating"></ion-label>
        <ion-input [(ngModel)]="inputEmail" type="text" placeholder="Ingresa tu correo"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating"></ion-label>
        <ion-input [(ngModel)]="inputPassword" type="password" placeholder="Ingresa tu contraseña"></ion-input>
      </ion-item>
      
      <ion-button (click)="login()">Iniciar Sesión</ion-button>
      <p>Olvido su contraseña? <a class="link" (click)="goToRegistro()">recuperar</a></p>
      <p *ngIf="errorMessage" style="color:red;">{{errorMessage}}</p>
    </ion-content>
    <p>No tienes cuenta? Creala <a class="link" (click)="goToRegistro()">aquí</a></p>
  </div>
  <ion-img src="assets/logoduoc.png" class="duoc"></ion-img>
</ion-content>
